:root {  
    --primary-color: #6a5acd; /* Updated to match the mockup */  
    --secondary-color: #eaeaea; /* Updated to match the mockup */  
    --accent-color: #8f6593;  
    --background-color: #f9f9f9;  
    --header-color: #6a5acd; /* Updated to match the mockup */  
    --link-color: #ffffff; /* Updated for better contrast */  
    --text-color: #333;  
    --footer-background: #6a5acd; /* Updated to match the mockup */  
    --footer-link-color: #ffffff; /* Updated for better contrast */  
}  

body {  
    font-family: 'Roboto', sans-serif;  
    background-color: var(--background-color);  
    margin: 0;  
    padding: 0;  
}  

header {  
    max-width: 1200px;  
    margin: 0 auto;  
    background-color: var(--header-color);  
}  

nav {  
    padding: 10px;  
}  

nav div {  
    display: flex;  
    justify-content: space-around;  
}  

nav a {  
    color: var(--link-color);  
    text-decoration: none;  
    padding: 15px;  
}  

nav a:hover {  
    text-decoration: underline;  
}  

.hero {  
    text-align: center;  
    margin: 20px 0;  
    padding: 20px;  
    background-color: var(--secondary-color);  
}  

.hero h1 {  
    color: var(--primary-color);  
}  

.hero img {  
    display: block;  
    max-width: 100%;  
    height: auto;  
}  

h1, h2 {  
    color: var(--primary-color);  
}  

p {  
    color: var(--text-color);  
    line-height: 1.6;  
}  

section {  
    margin: 20px 0;  
    padding: 20px; /* Added padding for sections */  
    background-color: var(--secondary-color); /* Added background color for sections */  
}  

footer {  
    background-color: var(--footer-background);  
    padding: 20px;  
    text-align: center;  
}  

footer .sociallinks {  
    display: flex;  
    justify-content: center;  
}  

footer .sociallinks a {  
    margin: 0 10px;  
    text-decoration: none;  
    color: var(--footer-link-color);  
}  

footer .sociallinks img {  
    width: 30px;  
    height: auto;  
}  

@media (max-width: 600px) {  
    nav div {  
        flex-direction: column;  
        align-items: right;  
    }  

    footer .sociallinks {  
        flex-direction: column;  
        align-items: right;  

    }  
}  

.image-container {  
    display: block;  
    width: 100%;  
    text-align: center;  
    margin: 20px 0;  
}  

.styled-image {  
    width: 100%;  
    height: auto;  
    border: 5px solid #333;  
    border-radius: 10px;  
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);  
    transition: transform 0.3s;  
}  

.styled-image:hover {  
    transform: scale(1.05);  
}  

.image-grid {  
    display: grid;  
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));  
    gap: 10px;  
}